:root {
  --main: #af754f;
  --bg: #ECF0F1;
  --accent: #E74C3C;
  --accent2:#4e3c15;
}


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Element Selectors */

body{ 
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

ul, ol, li {
  list-style: none;
}

section {
  width: 100%;
}

header{
  background-color: var(--main);
  color: var(--bg);
  height: 7%;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 25px;
}

span {
  color: var(--bg);
  padding: 0 10px;
  border-radius: 5px;
}

button {
  background-color: var(--accent);
  color: var(--bg);
  border: 0;
  border-radius: 5px;
  box-shadow: 3px 3px var(--accent2);
}

button:hover {
  transform: translate(1px, 1px);
  box-shadow: 2px 2px var(--accent2);
}

/* ID Selectors */

#list-holder {
  display: flex;
  overflow-x: auto;
  /* overflow-y: hidden; */
  width: 100%;
  height: 100%;
}

#wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content:center;
  align-items:center;
  
}

#inner-wrapper {
  width: 1200px;
  height: 800px;
  /* border: var(--main) 4px solid; */
  /* border-radius: 25px 25px 0 0; */
}

#city-info {
  /* background-color: bisque; */
  height: 100%;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
}


/* Class Selectors */

.main-city-info {
  height: 48%;
  display: flex;
  /* border-bottom: var(--main) solid 2px; */
  /* background-color: var(--bg); */
}

.main-col{
  width: 40%;
  display: flex;
  flex-direction: column;
}

.side-info {
  height: 50%;
}

.pop-info, .weather-info {
  height: 100%;
  width: 100%;
  /* background: greenyellow; */
  border-radius: 10px;
  text-align: center;
}

.top-pad {
  padding: 20px 20px 5px 20px
}

.bot-pad {
  padding: 5px 20px 20px 20px
}

.main-info {
  height: 100%;
  width: 60%;
  padding: 20px 0 20px 20px;
}

.weather-info, .pop-info {
  background-color: var(--bg);
}

.attraction-info {
  height: 45%;
  /* background: var(--bg); */
}



.card-wrapper {
  width: 300px;
  /* background: green; */
  padding: 20px;
  height: 100%;
  flex-shrink: 0;
}

.card-content {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  background-color: var(--bg);
  padding: 10px;
  border-radius: 10px;
  text-align: center;
}

.info-text {
  text-align:left;
  border: 1px dashed black;
  border-radius: 5px;
  padding: 5px;
}

.card-content img {
  width: 100%;
  padding: 15px;
}

.img-box {
  overflow: hidden;
  height: 100%;
  width: 100%;
  border-radius: 10px;
}

.city-image {
  height: 100%;
}

.col-img {
  height: 100%;
  width: 50%;
  padding: 25px;
}

.col-info {
  padding: 25px 25px 25px 0;
}

.info-box {
  height: 100%;
  width: 100%;
  overflow-y: auto;
  border-radius: 10px;
  padding: 20px;
  background-color: var(--bg);
}

.info-box p {
  margin-bottom: 10px;
}

.uv {
  display: inline-block
}

.graph {
  width: 100%;
  height: 80%;
  /* background: aliceblue; */
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.bar {
  width:50px;
  border: 1px dashed var(--accent2);
  margin: 10px;
  border-radius: 10px;
}

.small {
  height: 33px;
}

.mid {
  height: 66px;
}

.large {
  height: 99px;
}

.weather-info {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.img-box, .info-box, .weather-info, .pop-info, .card-content, header {
  box-shadow: 5px 5px var(--accent2);
  border: var(--main) double 4px;
}

.img-box:hover, .info-box:hover, .weather-info:hover, .pop-info:hover, .card-content:hover{
  transform: translate(1px, 1px);
  box-shadow: 4px 4px var(--accent2);
}

.wiki-btn {
  width: 100%;
  height: 25px;
}

.back-btn, .refresh-btn {
  width: 50px;
  height: 25px;
}

.popup-container {
  background: white;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dot {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background: var(--accent);
  margin: 10px;
}

.an1{
  animation: bounce 1s linear infinite;
}
.an2{
  animation: bounce 1s linear 0.25s infinite;
}
.an3{
  animation: bounce 1s linear 0.5s infinite;
}

@keyframes bounce {
  0% {transform: translateY(0);}
  25% {transform: translateY(20px)}
  50% {transform: translateY(0)}
  75% {transform: translateY(-20px)}
  100% {transform: translateY(0)}
}
