* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --main: #af754f;
  --bg: #ECF0F1;
  --accent: #E74C3C;
  --accent2:#4e3c15;
}


/* Element Selectors */

body{ 
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

main {
  width: 70%;
  height: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

aside {
  width: 30%;
  height: 100%;
  /* background: red; */
  padding: 35px 10px 10px 10px;
}

header{
  background-color: var(--main);
  color: var(--bg);
  height: 7%;
  width: 100%;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* padding: 0 25px; */
}

h3 {
  text-align: center;
  margin-bottom: 10px;
}
/* ID Selectors */

#map {
  /* background: green; */
  flex-grow: 1;
  border-radius: 10px;
  margin: 25px;
}

#map-form {
  display: flex;
  height: 5%;
}
/* Class Selector */

.wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content:center ;
  align-items: center;
}

.col {
  width: 100%;
  height: 93%;
  display: flex;
  flex-direction: row;
}

.inner-wrapper {
  width: 1200px;
  height: 800px;
  /* display: flex;
  justify-content:center ;
  align-items: center;
  flex-direction: column; */

}

.popup-container, .startup-container {
  background: rgba(17, 16, 16, 0.363);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.startup-container {
  background: white;
}

.popup, .startup {
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 10px;
  padding: 20px;
  background-color: var(--bg);
}

.startup {
  width: 500px;
}


.random-btn, .submit-btn, button {
  height: 100%;
  background-color: var(--accent);
  color: var(--bg);
  border: 0;
  border-radius: 5px;
  box-shadow: 5px 5px var(--accent2);
  width: 100px;
}

button {
  width: 50px;
  box-shadow: 3px 3px var(--accent2)
}

.awe-btn {
  height: 25px;
}

button:hover {
  transform: translate(1px, 1px);
  box-shadow: 2px 2px var(--accent2);
}

.search-field {
  flex-grow: 2;
  margin: 0 25px;
  border-radius: 10px;
  border: 1px solid var(--main);
  padding: 0 10px;
  transform: translate(0, 2px);
}

.check-row {
  width: 100%;
  height: 25px;
  display: flex;
  align-items: center;

}

.check-col {
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px ;
}

aside form {
  background: var(--bg);
  border-radius: 10px;
  padding: 10px;
}

#map, header ,aside form, .popup, .startup {
  box-shadow: 5px 5px var(--accent2);
  border: var(--main) double 4px;
}

aside form:hover, #map:hover, header:hover, .random-btn:hover, .submit-btn:hover {
  transform: translate(1px, 1px);
  box-shadow: 4px 4px var(--accent2);
}

[data-id] {
  width: 40px;
  text-align: center;
}