* {
  padding: 0;
  border: 0;
  margin: 0;

}

body {
  height: 100vh;
  background-color: #343434;

}

header {
  background-color: #1f1f1f;
  width: 100%;
  color: #E0E0E0;

}

header * {
  display: block;

}

main {
  display: flex;
  flex: auto;
  justify-content: center;
}

main div {
  margin: 50px;
  background-color: #e0e0e0;
  width: 1340px;
  flex-wrap: wrap;
  display: flex;
}

main div * {
  margin: 10px;
  background-color: #545454;
}

#filters {
height: 600px;
width: 300px;
}

#map {
  height: 600px;
  width: 1000px;
}

#submit {
  height: 100px;
  width: 300px;
}

#random {
  height: 100px;
  width: 1000px;
}